@model IEnumerable<RED.Models.ElectronicDiary.Protocols.ProtocolW>
@using RED.Models.ElectronicDiary
@using System.Collections.Generic
@{
    ViewBag.Title = "Index";
}

<h2>Протоколи</h2>

<link href="~/Content/Our/tabs-changes.css" rel="stylesheet" />

<div class="row">
    <div class="panel">

        <div class="panel-heading">
            <div class="panel-options">

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-1" class="active-tab-btn">Активни</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab-2" class="archived-tab-btn">Архивирани</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel-body my-tab-style">

            <div class="tab-content">
                <div id="tab-1" class="tab-pane active active-protocols">
                    @{ Html.RenderAction("GetActiveProtocols"); }
                </div>

                <div id="tab-2" class="tab-pane archived-protocols">
                    @* @{ Html.RenderAction("GetNotAcceptedRequests"); }*@
                </div>
            </div>

        </div>

    </div>

</div>

<script src="~/Scripts/Our/Protocols.js"></script>
