@model IEnumerable<RED.Models.ElectronicDiary.Remarks.RemarkW>
@using RED.Models.Account
@{
    ViewBag.Title = "Index";
}

@{
    RvsPrincipal principal = new RvsPrincipal(HttpContext.Current.User.Identity);
    var user = principal.GetUserData();
}

<h2>Забележки</h2>

@if (principal.IsAuthorize("95342ca3-d105-4e5e-9b37-d7205afd463e"))
{
    <p>
        <a href="/Remarks/Create">
            <i class="fa fa-plus"></i>
            Добави забележка
        </a>
    </p>
}

<div class="row">
    <div class="ibox float-e-margins">
        <div class="ibox-content table-responsive">
            <table class="display table table-striped table-bordered table-hover">
                <tr>
                    <th class="col-md-10">
                        @Html.DisplayNameFor(model => model.Text)
                    </th>
                    @if (principal.IsAuthorize("95342ca3-d105-4e5e-9b37-d7205afd463e"))
                    {
                        <th class="col-md-2"></th>
                    }
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                        @if (principal.IsAuthorize("95342ca3-d105-4e5e-9b37-d7205afd463e"))
                        {
                            <td>
                                <a href="/Remarks/Edit?id=@item.Id">
                                    <i class="fa fa-edit"></i>
                                    Промени
                                </a>
                                <a class="btn-delete" href="@item.Id" data-toggle="modal" data-target="#myModal" onclick="Delete(this)">
                                    <i class="fa fa-trash"></i>
                                    Изтрий
                                </a>
                            </td>
                        }
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
<script>
    function Delete(btn) {
        var id = $(btn).attr('href');
        var url = '/Remarks/Delete?id=' + id;
        $.ajax({
            type: "GET",
            url: url,
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (view) {
                $('.modal-content').html(view);
            }
        });
    }
</script>
