<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Електронен дневник - РВС</title>

    <link rel="icon" type="image/png" href="~/Images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Images/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="~/Images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/Images/favicon-16x16.png" sizes="16x16">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    
    <!-- Minified css -->
    @*<link href="~/Content/rvs-electronic-diary-theme.min.css" rel="stylesheet" />*@

    <!-- Full css -->
    <link href="~/Scripts/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

    <!-- Mainly scripts -->
    <script src="~/Scripts/jquery.shared.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="~/Scripts/Our/Shared.js"></script>
</head>
<body class="pace-done">
    <div id="wrapper">
        @Html.Partial("_Navigation")
        <div id="page-wrapper" class="white-bg @ViewBag.SpecialClass">
            @Html.Partial("_TopNavbar")
            <div class="row wrapper border-bottom animated fadeInRight">
                @RenderBody()
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery UI -->
    <script src="~/Scripts/plugins/jquery-ui/jquery-ui.min.js"></script>
</body>
</html>
