@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>Изход</a>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="clearfix"></div>
    }
}
