@using Microsoft.AspNet.Identity
@using RED.Models.Account

@{
    RvsPrincipal principal = new RvsPrincipal(HttpContext.Current.User.Identity);
    var user = principal.GetUserData();
}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a href="/Account/Profile?id=@user.Id">
                    <span> 
                        <img src="~/Images/default_small.png" alt="image" class="img-circle" />
                    </span>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@(user.FirstName + " " + user.LastName)</strong>
                            </span> <span class="text-muted text-xs block">@user.Position</span>
                        </span>
                    </a>
                    @*<ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="profile.html">Profile</a></li>
                    </ul>*@
                </div>
                <div class="logo-element">
                    РВС
                </div>
            </li>
            <li class="">
                <a href="/Home/Index">
                    <i class="fa fa-th-large">
                    </i> <span class="nav-label">Начало</span> 
                    @*<span class="fa arrow"></span>*@
                </a>
            </li>
            @if (principal.IsAuthorize("132fb592-e0de-4f7b-89dd-e11b4aacc4ff"))
            {
                <li class="">
                    <a href="#">
                        <i class="fa fa-user-md">
                        </i> <span class="nav-label">Администратор</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse nav-admin">
                        <li><a href="/Users/Index">Потребители</a></li>
                        <li><a href="/Roles/Index">Роли</a></li>
                        @if (principal.IsAuthorize())
                        {
                            <li><a href="/Features/Index">Права</a></li>
                        }
                    </ul>
                </li>
            }
            @if (principal.IsAuthorize("fd53f97f-8bec-42ae-b17a-80cc7fee522f"))
            {
                <li class="">
                    <a href="/Diary/Index">
                        <i class="fa fa-book">
                        </i> <span class="nav-label">Дневник</span>
                    </a>
                </li>
            }
            @if (principal.IsAuthorize("0e161082-3d84-4887-8bef-968e1ca53256"))
            {
                <li class="">
                    <a href="#">
                        <i class="fa fa-area-chart">
                        </i> <span class="nav-label">Изследвания</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                            <li><a href="/Tests/Categories">Категории</a></li>
                            <li><a href="/Tests/Index">Тестове</a></li>
                    </ul>
                </li>
            }
            @if (principal.IsAuthorize("4177b39a-ddce-46ad-812b-55d5935012ed"))
            {
                <li class="">
                    <a href="/Clients/Index">
                        <i class="fa fa-users">
                        </i> <span class="nav-label">Клиенти</span>
                        @*<span class="fa arrow"></span>*@
                    </a>
                </li>
            }
            @if (principal.IsAuthorize("b93941bf-aa40-490e-9764-5aea1841de32"))
            {
                <li class="">
                    <a href="/Requests/Index">
                        <i class="fa fa-tags">
                        </i> <span class="nav-label">Заявки</span>
                    </a>
                </li>
            }
            @if (principal.IsAuthorize("93b1ccf0-c462-464a-9294-524e5088b93b"))
            {
                <li class="">
                    <a href="/Protocols/Index">
                        <i class="fa fa-clipboard">
                        </i> <span class="nav-label">Протоколи</span>
                    </a>
                </li>
            }
            <li class="">
                <a href="/Remarks/Index">
                    <i class="fa fa-bookmark">
                    </i> <span class="nav-label">Забележки</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<script>
    $('.nav-second-level').each(function () {
        if($(this).children().length == 0){
            $(this).parent().remove();
        }
    });
</script>
