@model RED.Models.ElectronicDiary.Tests.TestCategoryW

@{
    ViewBag.Title = "Delete";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Затвори</span></button>
    <i class="fa fa-area-chart modal-icon"></i>
    <h4 class="modal-title">Изтрий</h4>
    <small class="font-bold">Сигурен ли сте, че изкате да изтриете тази категория?</small>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div class="modal-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Да" class="btn btn-primary btn-padding-lg" />
            <button type="button" class="btn btn-white btn-padding-lg" data-dismiss="modal">Не</button>
        </div>
    }
</div>
