@model RED.Models.ElectronicDiary.ArchivedWrappers.ArchivedProductTestW

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Затвори</span></button>
    <i class="fa fa-area-chart modal-icon"></i>
    <h4 class="modal-title">Изтрий</h4>
    <small class="font-bold">Сигурни ли сте, че искате да изтриете тoва изследване?</small>
</div>
<div class="modal-body">
    <h4 class="text-center">Това изследване е свързано със следните резултати:</h4>
    <ol style="padding-left: 86px;">
        @foreach (var result in Model.Results)
        {
            <li>@result.ResultNumber</li>
        }
    </ol>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("DeleteProductTest", "ArchivedDiary", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Id)
        <div class="form-actions no-color">
            <input type="submit" value="Да" class="btn btn-primary btn-padding-lg" />
            <button type="button" class="btn btn-white btn-padding-lg" data-dismiss="modal">Не</button>
        </div>
    }
</div>


