@model IEnumerable<RED.Models.ElectronicDiary.DiaryW>
@using System.Globalization;
<link href="~/Content/plugins/chosen/chosen.css" rel="stylesheet" />
<link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

@using Microsoft.AspNet.Identity
@using RED.Models.Account

@{
    RvsPrincipal principal = new RvsPrincipal(HttpContext.Current.User.Identity);
}

<h2>Дневник</h2>
@if (principal.IsAuthorize("6b1b671c-0e4b-49fe-a3ac-9f3de4ae7e8a"))
{
    <p>
        <a href="/Diary/Create">
            <i class="fa fa-plus"></i>
            Добави писмо
        </a>
    </p>
}
<div class="ibox float-e-margins" style="margin-bottom:0;">
    <div class="ibox-title">
        <div class="ibox-tools">
            @*<a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>*@
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="collapse-link" style="cursor:pointer;">
            <h5 class="">Филтри</h5>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="ibox-content" style="display: block;">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label class="col-md-2 no-padding">Дневник №:</label>
                    <input class="form-control text-box single-line" data-val="true" 
                            data-val-range-min="0" data-val-range-max="2147483647" 
                            id="DiaryNumber" type="number" value="">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label class="col-md-2 no-padding">Писмо №:</label>
                    <input class="form-control text-box single-line" data-val="true"
                           data-val-range-min="0" data-val-range-max="2147483647"
                           id="LetterNumber" type="number" value="">
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="form-group">
                    <label for="ClientId" class="col-xs-12 no-padding">Клиент</label>
                    @Html.DropDownList("ClientId", null, htmlAttributes: new { @class = "form-control chosen-select" })
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group" id="filter-date-from">
                    <label>От Дата</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="fromDate" class="form-control text-box single-line" type="datetime" value="">
                    </div>
                </div>
                    
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="form-group" id="filter-date-to">
                    <label>До Дата</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="toDate" class="form-control text-box single-line" type="datetime" value="">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <button id="filter" class="btn btn-primary">Филтрирай</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel">

        <div class="panel-heading">
            <div class="panel-options">

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-1" class="active-tab-btn">Активни</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#tab-2" class="archived-tab-btn">Архивирани</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel-body my-tab-style">

            <div class="tab-content">
                <div id="tab-1" class="tab-pane active active-diaries">
                    @{ Html.RenderAction("ActiveDiaries"); }
                </div>

                <div id="tab-2" class="tab-pane archived-diaries">
                    @* @{ Html.RenderAction("GetNotAcceptedRequests"); }*@
                </div>
            </div>

        </div>

    </div>

</div>

<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>
<script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="~/Scripts/Our/Diaries.js"></script>
<script>
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }

    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

    $('#filter-date-from .input-group.date').datepicker({
        format: "dd.m.yyyy",
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });

    $('#filter-date-to .input-group.date').datepicker({
        format: "dd.m.yyyy",
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });
</script>

@*<div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
        </div>
    </div>
</div>*@



