.tarea {
    width: calc(100% - 70px);
    display: inline-block;
    height: 85px !important;
}

.special-chars-holder {
    display: inline-block;
    vertical-align: top;
}

.special-chars-holder input {
    display: block;
    width: 55px;
    margin-bottom: 9px;
    margin-left: 6px;
}
