.modified-label {
    padding-top: 7px;
    margin-bottom: 0px;
}

.modified-label-notbold {
    padding-top: 7px;
    margin-bottom: 0px;
    font-weight: normal;
}

.no-resize {
    resize: none;
}