
@{
    ViewBag.Title = "Грешка";
}

@{
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<div class="middle-box text-center animated fadeInDown">
    <div>
        <h1><i class="fa fa-exclamation-triangle text-danger"></i></h1>
        <h2 class="modal-title">Грешка</h2>
        <h4 class="font-bold">Появи се неизвестна грешка!</h4>
        <p>
            За съжаление се появи неизвестна грешка.
            За повече информация моля свържете се с отдел поддръжка.
        </p>
        <p class="m-t"> <small>All rights reserved mINC © 2015</small> </p>
    </div>
</div>

@*<div class="middle-box text-center animated fadeInDown">
    <div>
        <h1><i class="fa fa-exclamation-triangle text-danger"></i></h1>
        <h2 class="modal-title">Грешка</h2>
        <h4 class="font-bold">Безплатната версия на продукта изтече!</h4>
        <p>
            За съжаление безплатната версия на продукта е изтекла.
            За да продължите да ползвате услугите на нашия продукт трябва да си закупите валиден лиценз.
            За повече информация моля свържете се с отдел поддръжка.
        </p>
        <p class="m-t"> <small>All rights reserved mINC © 2015</small> </p>
    </div>
</div>*@