@model IEnumerable<RED.Models.ElectronicDiary.Clients.ClientW>
@using RED.Helpers

@{
    ViewBag.Title = "Клиенти";
}


<link href="~/Content/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/plugins/dataTables/dataTables.responsive.css" rel="stylesheet" />
<link href="~/Content/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet" />
<link href="~/Content/Our/datatables-changes.css" rel="stylesheet" />

<script src="~/Scripts/plugins/dataTables/jquery.dataTables.js"></script>
<script src="~/Scripts/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="~/Scripts/plugins/dataTables/dataTables.responsive.js"></script>
<script src="~/Scripts/plugins/dataTables/dataTables.tableTools.min.js"></script>
<script src="~/Scripts/Helpers/myDataTablesWrapper.js"></script>

<h2>Клиенти</h2>

@if (Html.IsAuthorized(FeaturesCollection.ModifyClients))
{
<p>
    <a href="/Clients/Create">
        <i class="fa fa-plus"></i>
        Добави клиент
    </a>
</p>
}
<div class="row">
    <div class="ibox float-e-margins">
        <div class="ibox-content table-responsive">
            <table id="ClientsTable" class="display table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" style="min-width: 100%">
                <thead>
                    <tr>
                        <th>Име</th>
                        <th>Телефон</th>
                        @if (Html.IsAuthorized(FeaturesCollection.ModifyClients))
                        {
                            <th></th>
                        }
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>
    Tables.CreateTable("#ClientsTable", {
        order: [],
        //processing: true,
        serverSide: true,
        lengthChange: false,
        selectable: false,
        paging: true,
        pageLength: 10,
        "language": {
            "paginate": {
                "previous": "Назад",
                "next": "Напред"
            },
            "zeroRecords": "Няма налични данни",
            "info": "Показва _START_ до _END_ от _MAX_ записа",
            "infoFiltered": "(филтрирани от общо _MAX_)",
            "infoEmpty": "Няма открити данни"
        },
        ajax: {
            type: "POST",
            url: "/Clients/GetClients",
        },
        columns: [
            { "data": "Name" }, 
            { "data": "Mobile" },
            @if (Html.IsAuthorized(FeaturesCollection.ModifyClients))
            {
            <text>
            { "data": "Id" }
            </text>
            }
        ],
        @*@if (Html.IsAuthorized(FeaturesCollection.ModifyClients))
        {
        <text>
        columnDefs: [
            {
                targets: -1,
                width: "25%",
                sortable: false,
                render: function (data, type, row) {
                    return '<a href="/Clients/Edit?id=' + data + '">\
                                <i class="fa fa-edit"></i>\
                                Промени\
                            </a>|\
                            <a class="btn-delete" href="' + data + '" data-toggle="modal" data-target="#myModal" onclick="Delete(this)">\
                                <i class="fa fa-trash"></i>\
                                Изтрий\
                            </a>'
                },
                class: "text-center"
            }
        ]
        </text>
        }*@
    });

    function Delete(btn) {
        var id = $(btn).attr('href');
        var url = '/Clients/Delete?id=' + id;
        $.ajax({
            type: "GET",
            url: url,
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (view) {
                $('.modal-content').html(view);
            }
        });
    }
</script>